@media screen and (min-width: 1280px)
{
  /*
  De rems a pixels
  2rem=32px;
  1rem=16px;
  0.5rem=8px;
  0.4rem=6.4px;
  0.3rem=4.8px;
  0.2rem=3.2px;
  0.1rem=1.6px;

  De pixels a rems
  16px=1rem;
  17px=1.0625rem;
  18px=1.125rem;
  */
  html{
    font-size: 100%;
  }

body {
  background-color: skyblue;
  margin: 0;
  font-family: Helvetica Neue ,sans-serif;
}

div{
  background-color:red;
  height: 6.25rem;
  background-repeat: no-repeat;
  background-position: 25rem;
}

li{ display: inline-block;
  background-color: #6C3;
  height: 1.875rem;
  margin: 0;
  line-height: 2.19rem;
  padding: 0.3rem;
}

li:hover {
  background-color: yellowgreen;
}

h1, p{
  width:21.875rem;
  padding:1.5625rem;
}

h1{
 margin: 0;
 font-size:2.3rem;
}

p{
 padding: 0 1.5625rem;
 margin: 0;
}

img{
  padding: 1.5625rem;
}

a{
  text-decoration: none;
  color: black;
}

#primera{
  height: 2.5rem;
  width: auto;
}
#segona{
  height: 34.375rem;
  width: auto;
  background-image:url(img/img-hero-full-list.png);
}

#tercera{
  height: 40.0625rem;
  width: auto;
  background-image: url(img/allinone.jpg);
}

#quarta{
  height: 31.25rem;
  width: auto;
  background-image: url(img/curator-short.png);
}

#cinquena{
  height: 34.375rem;
  width: auto;
  background-image: url(img/img-hero-full-list.png);
}

#sisena{
  height: 34.375rem;
  background-image: url(img/mobile-share.png);
  width:
}

#setena{
  height: 40.1875rem;
  width: auto;
  background-image: url(img/anywhere.png);
}

#vuitena{
  height: 12.5rem;
  text-align: center;
}

#boto{
  /* --DIMENSIONS-- */
  height: 4.5rem;
  width: 4.5rem;

  /* --POSICIONS-- */
  position: fixed;
  bottom:  3.125rem;
  right: 6.25rem;

  /* --TEXT-- */
  text-align: center;
  line-height: 5rem;
  font-size: 3.125rem;
  color: white;

  /* --CAIXA-- */
  border-radius: 2.1875rem;
  box-shadow: 0.125rem 0.125rem 0.625rem black;
  background-color: grey;
  background-image: url(img/sources.png);
  background-position: -14rem -1.1875rem;
  opacity: 0.9;
}

.blanca {
  background-color: #FFF;
}

.verda {
  background-color: #6C3;
}

.fosca {
 background-color: #333;
}

.clara {
  background-color: #EECE;
}
}







/* ----Font-size: Tipus de mesures ----
absolutes
mm
cm
pt
px

Relatives
% ---- sobre el valor en el què s'insereix ---
em ---- quadratí, m com a referència, em space en anglès. En el cos que estem fent servir la lletra ema. ---
rem ---- s'utilitza aquesta perquè no agafa més referencies. ---

per pantalla ordinador ---- tamany per defecte és 16px; 1em=16px, 2em=32px,
per pantalla telefon hi ha més pixels, llavors es veu més petit
cos pàgina: 16px 1 quadratí= 16px
*/




/* ---------- Disseny mòbil ------*/
@media screen and (max-width: 1280px)
{
  html{
    font-size: 100%;
  }

body {
  background-color: skyblue;
  margin: 0;
  font-family: Helvetica Neue ,sans-serif;
}

div{
  background-color:red;
  height: 6.25rem;
  background-repeat: no-repeat;
  background-position: 25rem;
}

li{ display: block;
  background-color: #6C3;
  height: 1.875rem;
  margin: 0;
  line-height: 2.19rem;
  padding: 0.3rem;
}

li:hover {
  background-color: yellowgreen;
}

h1, p{
  width:21.875rem;
  padding:1.5625rem;
}

h1{
 margin: 0;
 font-size:2.3rem;
}

p{
 padding: 0 1.5625rem;
 margin: 0;
}

a{
  text-decoration: none;
  color: black;
}

#primera{
  height: 2.5rem;
  width: auto;
}
#segona{
  height: 34.375rem;
  width: auto;
}

#tercera{
  height: 40.0625rem;
  width: auto;
}

#quarta{
  height: 31.25rem;
  width: auto;
}

#cinquena{
  height: 34.375rem;
  width: auto;
}

#sisena{
  height: 34.375rem;
}

#setena{
  height: 40.1875rem;
  width: auto;
}

#vuitena{
  height: 12.5rem;
  text-align: center;
}

#boto{
  /* --DIMENSIONS-- */
  height: 4.5rem;
  width: 4.5rem;

  /* --POSICIONS-- */
  position: fixed;
  bottom:  3.125rem;
  right: 6.25rem;

  /* --TEXT-- */
  text-align: center;
  line-height: 5rem;
  font-size: 3.125rem;
  color: white;

  /* --CAIXA-- */
  border-radius: 2.1875rem;
  box-shadow: 0.125rem 0.125rem 0.625rem black;
  background-color: grey;
  background-position: -14rem -1.1875rem;
  opacity: 0.9;
}

.blanca {
  background-color: #FFF;
}

.verda {
  background-color: #6C3;
}

.fosca {
 background-color: #333;
}

.clara {
  background-color: #EECE;
}
}
