@media screen and (min-width: 1280px)
{
body {
  background-color: skyblue;
  margin: 0;
  font-family: Helvetica Neue ,sans-serif;
}

div{
  background-color:red;
  height: 100px;
  background-repeat: no-repeat;
  background-position: 400px;
}

li{ display: inline-block;
  background-color: #6C3;
  height: 30px;
  margin: 0;
  line-height: 30px;
  padding: 5px;
}

li:hover {
  background-color: yellowgreen;
}

h1, p{
  width:350px;
  padding:25px;
}

h1{
 margin: 0px;
}

p{
 padding: 0 25px;
 margin: 0;
}

img{
  padding: 25px;
}

a{
  text-decoration: none;
  color: black;
}

#primera{
  height: 40px;
  width: auto;
}
#segona{
  height: 550px;
  width: auto;
  background-image:url(img/img-hero-full-list.png);
}

#tercera{
  height: 641px;
  width: auto;
  background-image: url(img/allinone.jpg);
}

#quarta{
  height: 500px;
  width: auto;
  background-image: url(img/curator-short.png);
}

#cinquena{
  height: 550px;
  width: auto;
  background-image: url(img/img-hero-full-list.png);
}

#sisena{
  height: 550px;
  background-image: url(img/mobile-share.png);
  width:
}

#setena{
  height: 643px;
  width: auto;
  background-image: url(img/anywhere.png);
}

#vuitena{
  height: 200px;
  text-align: center;
}

#boto{
  /* --DIMENSIONS-- */
  height: 72px;
  width: 72px;

  /* --POSICIONS-- */
  position: fixed;
  bottom:  50px;
  right: 100px;

  /* --TEXT-- */
  text-align: center;
  line-height: 80px;
  font-size: 50px;
  color: white;

  /* --CAIXA-- */
  border-radius: 35px;
  box-shadow: 2px 2px 10px black;
  background-color: grey;
  background-image: url(img/sources.png);
  background-position: -224px -19px;
  opacity: 0.9;
}

.blanca {
  background-color: #FFF;
}

.verda {
  background-color: #6C3;
}

.fosca {
 background-color: #333;
}

.clara {
  background-color: #EECE;
}
}








/* ---------- Disseny mòbil ------*/
@media screen and (max-width: 1280px)
{
  body {
    background-color: skyblue;
    margin: 0;
    font-family: Helvetica Neue ,sans-serif;
  }

  div{
    background-color:red;
    height: 100px;
    background-repeat: no-repeat;
    background-position: 400px;
  }

  li{ display: inline-block;
    background-color: #6C3;
    height: 30px;
    margin: 0;
    line-height: 30px;
    padding: 5px;
  }

  li:hover {
    background-color: yellowgreen;
  }

  h1, p{
    width:350px;
    padding:25px;
  }

  h1{
   margin: 0px;
  }

  p{
   padding: 0 25px;
   margin: 0;
  }

  a{
    text-decoration: none;
    color: black;
  }

  #primera{
    height: 40px;
    width: auto;
  }
  #segona{
    height: 550px;
    width: auto;
  }

  #tercera{
    height: 641px;
    width: auto;
  }

  #quarta{
    height: 500px;
    width: auto;
  }

  #cinquena{
    height: 550px;
    width: auto;
  }

  #sisena{
    height: 550px;
    width:
  }

  #setena{
    height: 643px;
    width: auto;
  }

  #vuitena{
    height: 200px;
    text-align: center;
  }

  #boto{
    /* --DIMENSIONS-- */
    height: 72px;
    width: 72px;

    /* --POSICIONS-- */
    position: fixed;
    bottom:  50px;
    right: 100px;

    /* --TEXT-- */
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    color: white;

    /* --CAIXA-- */
    border-radius: 35px;
    box-shadow: 2px 2px 10px black;
    background-color: grey;
    background-position: -224px -19px;
    opacity: 0.9;
  }

  .blanca {
    background-color: #FFF;
  }

  .verda {
    background-color: #6C3;
  }

  .fosca {
   background-color: #333;
  }

  .clara {
    background-color: #EECE;
  }
}
